blis==0.2.4
catalogue==2.0.10
certifi==2023.11.17
charset-normalizer==3.3.2
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==8.1.7
cloudpathlib==0.16.0
confection==0.1.4
cymem==2.0.8
Flask==2.2.5
flask-googlemaps==0.4.1
Flask-SQLAlchemy==2.5.1
ghp-import==2.1.0
googlemaps==4.10.0
greenlet==3.0.2
htmlmin==0.1.12
idna==3.6
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsmin==3.0.1
langcodes==3.3.0
Markdown==3.4.4
MarkupSafe==2.1.3
mathparse==0.1.2
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.2
mkdocs-minify-plugin==0.3.0
murmurhash==1.0.10
nltk==3.8.1
numpy==1.21.6
packaging==23.2
pandas==1.0.3
pathspec==0.11.2
Pint==0.18
plac==0.9.6
platformdirs==4.0.0
preshed==2.0.1
pydantic==1.10.13
Pygments==2.17.2
pymdown-extensions==10.2.1
pymongo==3.13.0
python-dateutil==2.7.5
pytz==2023.3.post1
PyYAML==3.13
pyyaml_env_tag==0.1
regex==2023.10.3
requests==2.31.0
six==1.16.0
smart-open==6.4.0
spacy==2.1.9
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.2.19
srsly==1.0.7
thinc==7.0.8
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.4.0
urllib3==2.0.7
wasabi==0.10.1
watchdog==3.0.0
weasel==0.3.4
Werkzeug==2.2.3
zipp==3.15.0
